<section>
        <div class="container hero-container">
          <div class="hero-box">
            <h1 class="hero-title">Enjoy Your Favorite Food From Anywhere</h1>
            <p class="bottom-text">
              With just a few clicks, you can have your favorite meals delivered
              straight to your doorstep, no matter where you are. Order now and
              enjoy a hassle-free and delicious meal from the comfort of your
              own home.
            </p>
            <button type="button" class="order-button">Order Now</button>
          </div>
          <div class="hero-img-box">
            <img
              src="./img/plate.jpg"
              alt="food"
              width="528"
              height="528"
              class="hero-img"
            />
          </div>
        </div>
      </section>