<section class="subscribe">
        <div class="subscribe-container container">
          <div class="subscribe-form">
            <h2 class="subscribe-title title-text-two">
              Subscribe To Get Special Offers
            </h2>
            <p class="subscribe-text">
              Order now and receive 10% off your first meal with Enjoy Your
              Favorite Food From Anywhere.
            </p>
            <button class="subscribe-btn btn" type="button">Subscribe</button>
          </div>
          <div class="subscribe-img">
            <img src="./img/banan.png" alt="banana" width="608" height="266" />
          </div>
        </div>
      </section>