.subscribe {
  background-color: var(--color-white), #fefefe;
  position: relative;
  margin-top: -66px;
  margin-bottom: 64px;
}

.subscribe-container {
  display: flex;
}

.subscribe-form {
  min-width: 656px;
  margin-top: 46px;
  margin-bottom: 36px;
}

.subscribe-title {
}

.subscribe-text {
  max-width: 532px;
  font-size: 16px;
  line-height: calc(24 / 16);
  margin-bottom: 24px;
}

.subscribe-btn {
  min-width: 103px;
  height: 42px;
  color: var(--color-black, #2c2c2c);
  background-color: var(--color-button-green, #bbf330);
  padding: 11px 22px;
}
.subscribe-btn:is(:hover, :focus) {
  background-color: #ffe450;
}

.subscribe-img {
  max-width: 608px;
  position: relative;
  margin-left: -16px;
}
